@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-last-center {
    text-align-last: center;
  }
}

.aws-table {
  width: 80%;
  margin: auto;
}

.table-row {
  border-bottom: 2px solid rgb(255 228 230);
}

.aws-product-description {
  width: 60%;
}
